  		<div class="top-nav"></div>
  		<nav class="navbar navbar-expand-lg navbar-dark bg-dark 	navbar-size col-12">
  			<div class="container query">
	    	<a class="navbar-brand" href="#"><img class="img-fluid" height="42" width="42" src="assets/images/logo2.png" alt="Logo">&nbsp;&nbsp;&nbsp;<strong>MTN RAFM</strong> <span>Community Portal</span></a>
	    	<button
		    	class="navbar-toggler right" 
		    	type="button" 
		    	data-toggle="collapse" 
		    	data-target="#navbarResponsive" 
		    	aria-controls="navbarResponsive" 
		    	aria-expanded="false" 
		    	aria-label="Toggle navigation">
	    	<span class="navbar-toggler-icon"></span>
	   		</button>
	   		<div class="collapse navbar-collapse" id="navbarResponsive">
	   			<ul class="navbar-nav ml-auto">
					<li class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
							<i class="fas fa-home" routerLink="/"></i>
							<span class="glyphicon glyphicon-user"></span> 
	                        <strong>Jordan</strong>&nbsp;&nbsp;&nbsp;
	                        <img class="rounded-circle img-fluid profile-pic" src="assets/images/images5.jpg" alt="Smiley face">
	                        &nbsp;&nbsp;&nbsp;
	                        <span class="glyphicon glyphicon-chevron-down"></span>
	                    </a>
                    <ul class="dropdown-menu col-lg-12">
                    	<div class="container-fluid">
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="text-center">
                                        	<img class="rounded-circle img-fluid img-thumbnail" src="assets/images/images3.jpg" alt="Smiley face">

                                        </div>
                                    </div>
                      
                                    <div class="col-lg-12">
                                        <p class="text-left"><strong>Jordan Michael</strong></p>
                                        <p class="text-left small">senzoradeb@gmail.com</p>
                                        <p class="text-left">
                                            <a href="#" class="btn btn-block btn-sm">Change Details</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="navbar-login navbar-login-session">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>
                                            <a href="#" class="btn btn-danger btn-block">Log out</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </div>
                    </ul>
            		</li>
				</ul>
			</div>
		</div>
		</nav>