<div class="container">
	<br/>
<div class="row">
	<div class="col-lg-10 col-sm-10">
		<input type="text" class="form-control form-rounded" placeholder="What are you looking for">
	</div>
	<br/>
	<button type="button" class="col-lg-2 col-sm-8 search-button mtn-button btn">Search</button>
</div>
<br/>
<div class="row mobile">
	<div id="demo" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ul class="carousel-indicators">
			<li data-target="#demo" data-slide-to="0" class="active"></li>
			<li data-target="#demo" data-slide-to="1"></li>
			<li data-target="#demo" data-slide-to="2"></li>
			<li data-target="#demo" data-slide-to="3"></li>
			<li data-target="#demo" data-slide-to="4"></li>
		</ul>

		<!-- The slideshow -->
		<div class="carousel-inner">
			<div class="carousel-item active">
				<a routerLink="/article">
					<img src="assets/images/ceo4.jpg" class="img-carousel img-fluid" alt="Los Angeles">
				  	<div class="carousel-caption">
						<p>MTN achieves 400mbit/s LTE</p>
						<p>12 March 2018</p>
					</div>
				</a>
			</div>
			<div class="carousel-item">				
				<a routerLink="/article">
					<img src="assets/images/3.jpg" class="img-carousel img-fluid " alt="Chicago">
					<div class="carousel-caption">
						<p>MTN achieves 400mbit/s LTE</p>
						<p>12 March 2018</p>
					</div>
				</a>
			</div>
			<div class="carousel-item">				
				<a routerLink="/article">
					<img src="assets/images/2.jpg" class="img-carousel img-fluid" alt="Los Angeles">
					<div class="carousel-caption">
						<p>MTN achieves 400mbit/s LTE</p>
						<p>12 March 2018</p>
					</div>
				</a>
			</div>
			<div class="carousel-item">				
				<a routerLink="/article">
					<img src="assets/images/ceo4.jpg" class="img-carousel img-fluid " alt="New York">
					<div class="carousel-caption">
						<p>MTN achieves 400mbit/s LTE</p>
						<p>12 March 2018</p>
					</div>
				</a>
			</div>
			<div class="carousel-item">				
				<a routerLink="/article">
					<img src="assets/images/2.jpg" class="img-fluid img-carousel" alt="Los Angeles">
					<div class="carousel-caption">
						<p>MTN achieves 400mbit/s LTE</p>
						<p>12 March 2018</p>
					</div>
				</a>
			</div>
		</div>

		<!-- Left and right controls -->
		<a class="carousel-control-prev" href="#demo" data-slide="prev">
			<span class="carousel-control-prev-icon"></span>
		</a>
		<a class="carousel-control-next" href="#demo" data-slide="next">
			<span class="carousel-control-next-icon"></span>
		</a>
	</div>
</div>
<div class="row desktop">
	<div class="col-lg-8 news-feed-main-container">
		<div class="main-news-feed-item">
			<div class="figure-class">
				<a routerLink="/article">
				<img class="img img-responsive main-article-img" src="assets/images/2.jpg">
				<div class="main-article-news-tag">Recent</div>
				<div class="main-article-caption">
				<div class="main-article-title">MTN achieves 400mbit/s LTE</div>
				<div class="main-article-date"> 12 March 2018</div>
				</div>
				</a>
			</div>
		</div>
	</div>

	<div class="col-lg-4 news-feed-side-container">
		<div class="news-feed-item" >
			<div class="figure-class">
				<a routerLink="/article">
				<img class="img img-responsive article-img" src="assets/images/ceo4.jpg">
				<div class="article-news-tag">News</div>
				<div class="article-caption">
					<div class="article-title">Godfrey Motsau is the new MTN SA CEO</div>
					<div class="article-date"> 6 March 2017</div>
				</div>
			</a>
			</div>
		</div>

		<div class="news-feed-item">
			<div class="figure-class">
				<a routerLink="/article">
					<img class="img img-responsive article-img" src="assets/images/3.jpg">
					<div class="article-news-tag">News</div>
					<div class="article-caption">
						<div class="article-title">Godfrey Motsau is the new MTN SA CEO</div>
						<div class="article-date"> 26 February 2017</div>
				</div>
				</a>
			</div>
		</div>

		<div class="news-feed-item">
			<div class="figure-class">
				<a routerLink="/article">
				<img class="img img-responsive article-img" src="assets/images/5.jpg">
				<div class="article-news-tag">News</div>
				<div class="article-caption">
					<div class="article-title">Godfrey Motsau is the new MTN SA CEO</div>
					<div class="article-date"> January 2018</div>
				</div>
				</a>
			</div>
		</div>
		<div class="news-feed-item">
			<div class="figure-class">
				<a routerLink="/article">
				<img class="img img-responsive article-img" src="assets/images/ceo4.jpg">
				<div class="article-news-tag">News</div>
				<div class="article-caption">
					<div class="article-title">Godfrey Motsau is the new MTN SA CEO</div>
					<div class="article-date"> January 2018</div>
				</div>
				</a>
			</div>
		</div>
		<div class="news-feed-item">
			<div class="figure-class">
				<a routerLink="/article">
				<img class="img img-responsive article-img" src="assets/images/2.jpg">
				<div class="article-news-tag">News</div>
				<div class="article-caption">
					<div class="article-title">Godfrey Motsau is the new MTN SA CEO</div>
					<div class="article-date"> January 2018</div>
				</div>
				</a>
			</div>
		</div>
	</div> 
</div>
<br/>
<button type="button" class="col-12  mtn-button btn">MTN COMMUNITY GROUP  ></button>
</div>